@model ConfirmationViewModel
<div class="modal" id="@Model.Id" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@Model.Text</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-no" data-dismiss="modal"><i class="mdi mdi-@Model.CancelIcon"></i> @Model.CancelButtonText</button>
                <button type="button" class="btn @Model.ActionButtonClass btn-yes" data-icon="mdi mdi-@Model.ConfirmIcon">
                    <i class="mdi mdi-@Model.ConfirmIcon mr-1"></i>@Model.ConfirmButtonText
                </button>
            </div>
        </div>
    </div>
</div>